// @import './src/variables';

.forum {
  display: flex;
  height: 700px;
  // background: $background-color;
  border-radius: 30px;
  gap: 0.5rem;

  &__left {
    margin-top: 2rem;
    width: 70%;
    overflow-y: auto;
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
    overflow-y: auto;
  }
}
