@import '../../../../variables.scss';

.tag {
  background-image: linear-gradient(90deg, $light-red-tile, $light-orange-tile);
}

.tag-active{
  background-image: linear-gradient(90deg, $font-color, $yellow-tile);
}

.tag-lg {
  display: inline-block;
  padding: 0.2em 0.2em 0.1em;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  font-size: 1.2em;
  font-weight: 700;
  color: $base-tile;
  margin: 0.25em 0.1em;
  cursor: pointer;
  transition: transform 250ms;

  &:hover {
    transform: translateY(-5px);
  }
}


