@import '../../../../variables.scss';

.user-block {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

hr.solid {
  border-top: .1rem solid $background-color;
}

.message {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &__date {
    font-size: 1rem;
    font-weight: 700;
    color: $light-orange-tile;
  }
}
