@import '../../../../variables';

.edit-block {
  justify-content: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 5px 5px;

  .remove-btn{
    @apply block w-12 h-12 rounded-full relative overflow-hidden;
    @apply bg-[url('../../assets/images/remove-btn.svg')];
    @apply bg-no-repeat bg-center ;
    height: 20px;
  }
}

.tag {
  display: inline-block;
  border-radius: 3px;
  padding: .2em .2em .1em;
  background-image: linear-gradient(90deg,$light-red-tile,$light-orange-tile);
  font-weight: 700;
  color: $base-tile;
  margin: .25em .1em
}

.tag-lg {
  font-size: 1.2em;
  border-radius: 4px
}

.views{
  @apply block w-12 h-12 rounded-full relative overflow-hidden;
  @apply bg-[url('../../assets/images/views.svg')];
  @apply bg-no-repeat bg-center ;
  height: 25px;
}

.content-icon{
  background-image: url('../../../../assets/images/content.svg');
  @apply block w-12 h-12 rounded-full relative overflow-hidden;
  @apply bg-no-repeat bg-center;
  height: 30px;
}

.comments{
  background-image: url('../../../../assets/images/comments.svg');
  @apply block w-12 h-12 rounded-full relative overflow-hidden;
  @apply bg-no-repeat bg-center;
  height: 25px;
}




