@import '../src/variables';

.avatar-container {
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  @apply block rounded-full  relative overflow-hidden;
  @apply bg-no-repeat bg-center;
  
  .not-found {
    @apply bg-[url('../../assets/images/not-found.svg')];
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__file {
    opacity: 0;
    cursor: pointer;
    background-color: $dark-brown;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: opacity 0.3s;
    display: flex;
    position: absolute;
    inset: 0;
  }

  &__text {
    color: $orange-tile;
  }
}
