@import '../../variables.scss';

.initial-input {
  display: flex;
  flex-direction: column;
  color: $font-color;

  &__label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: var($font-color);
    margin-bottom: 8px;
  }

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;

    &:hover {
      border-color: $dark-brown;
    }
  }
  &__error {
    font-size: 14px;
    color: $red-tile;
    opacity: 0.8;
  }
}
