@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';

html {
  background: $background-color;
  color: $font-color;
}

.game-page-container {
  width: $game-container-size;
  margin: auto;

  &.large {
    width: $game-container-size * 2;
  }
}

.game-modal {
  .title, .content {
    color: $font-color;
  }
}

.game-button {
  line-height: 28px;
  font-size: 28px;
  background: $dark-brown;
  border-width: 0;
  box-shadow: none;

  &:hover {
    box-shadow: 2px 2px 6px lighten($dark-brown, 20%) !important;
  }

  &.small {
    line-height: 12px;
    font-size: 12px;
  }

  &.alert {
    background: $orange-tile;
  }
}

h5 a {
  @include hover-link;
  text-decoration: underline;
  font-weight: bold;
}


