@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';

html {
  background: $background-color;
  color: $font-color;
}

.game-page-container {
  width: $game-container-size;
  margin: auto;

  &.large {
    width: $game-container-size * 2;
  }
}

.game-modal {
  .title, .content {
    color: $font-color;
  }
}

.game-button {
  line-height: 28px;
  font-size: 28px;
  background: $dark-brown;
  border-width: 0;
  box-shadow: none;

  &:hover {
    box-shadow: 2px 2px 6px lighten($dark-brown, 20%) !important;
  }

  &.small {
    line-height: 12px;
    font-size: 12px;
  }

  &.alert {
    background: $orange-tile;
  }
}

h5 a {
  @include hover-link;
  text-decoration: underline;
  font-weight: bold;
}

.avatar-container {
  width: 240px;
  height: 240px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1681_1143)'%3E%3Cpath d='M7.75875 13.5993C5.70723 13.5993 3.6557 13.5993 1.60701 13.5993C1.36365 13.5993 1.12879 13.5653 0.925053 13.4154C0.647744 13.2088 0.517578 12.9315 0.517578 12.5863C0.517578 11.6864 0.517578 10.7838 0.517578 9.88392C0.517578 8.19459 0.517578 6.5081 0.517578 4.81878C0.517578 4.32641 0.789228 3.96138 1.2533 3.8397C1.36083 3.81141 1.47684 3.80858 1.59003 3.80858C2.38234 3.80575 3.17465 3.80575 3.96697 3.80858C4.08015 3.80858 4.14241 3.77745 4.199 3.67558C4.46499 3.18888 4.74513 2.70783 5.01112 2.22112C5.12997 2.00324 5.30258 1.90137 5.54593 1.90137C7.02586 1.9042 8.50579 1.9042 9.98854 1.90137C10.2404 1.90137 10.413 2.0089 10.5318 2.23244C10.795 2.72198 11.0695 3.20585 11.3326 3.69256C11.3779 3.77745 11.4317 3.80858 11.5307 3.80858C12.3853 3.80575 13.237 3.80009 14.0916 3.81707C14.5981 3.82838 14.9773 4.2302 15.0028 4.73671C15.0028 4.76501 15.0028 4.79331 15.0028 4.8216C15.0028 7.40511 15.0028 9.98861 15.0028 12.5721C15.0028 13.0673 14.7368 13.4323 14.2727 13.554C14.151 13.5851 14.0208 13.5908 13.8963 13.5908C11.8505 13.5993 9.80461 13.5993 7.75875 13.5993ZM7.76158 4.60089C5.79212 4.59806 4.19617 6.194 4.19334 8.1663C4.19051 10.1386 5.78929 11.743 7.75592 11.743C9.71689 11.743 11.327 10.1329 11.3298 8.17196C11.3298 6.19966 9.7367 4.60372 7.76158 4.60089Z' fill='%23EFEEEC'/%3E%3Cpath d='M7.75927 6.38966C8.75249 6.38683 9.54763 7.18197 9.5448 8.17519C9.5448 9.15709 8.74966 9.9579 7.77058 9.96072C6.78302 9.96355 5.97939 9.16558 5.97656 8.17802C5.97656 7.1848 6.76605 6.38966 7.75927 6.38966Z' fill='%23EFEEEC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1681_1143'%3E%3Crect width='14.4828' height='14.4828' fill='%23EFEEEC' transform='translate(0.519531 0.516602)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__file{
    opacity: 0;
    cursor: pointer;
    background-color: $dark-brown;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: opacity 0.3s;
    display: flex;
    position: absolute;
    inset: 0;
  }

  &__text{
    color: $orange-tile;
  }
}



