@import "../../variables.scss";

.leaderboard {
  &__el {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 2rem;
    border-bottom: 1px solid $dark-brown;
  }
  &__name {
    
  }
  &__score {
  }
}
