.add-post {
  display: flex;
  border-radius: 30px;
  gap: 2rem;

  &__preview {
    width: 240px;
    height: 240px;
    @apply bg-[url('../../assets/images/not-found.svg')];
    @apply bg-no-repeat bg-center;
  }

  &__left {
    width: 30%;
    overflow-y: auto;
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__action {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
}
